.modal {
  height: 100vh;
  width: 100vw;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  width: 847px;
  height: 294px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 #00000040;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  transform: scale(0.5);
  transition: 0.3s all;
}

.modalContent.active {
  transform: scale(1);
}

.main {
  position: relative;
  width: 827px;
  height: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #F6EDE3;
  border-radius: 10px;
  box-sizing: border-box;
}

.crossBtn {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 5px;
  outline: none;
  border: none;
}

.title {
  margin-top: 45px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: center;
  color: #5E3023;
  white-space: pre-wrap
}

.title.top {
  margin-top: 20px;
}

.subtitle {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  white-space: pre-wrap;
  color: #987B72;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.exit {
  cursor: pointer;
  width: 282px;
  height: 65px;
  border-radius: 10px;
  border: 1px solid #DFBDA9;
  background: #DAB49D;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: center;
  color: #5E3023;
}

.exit.bottom {
  margin-top: 26px;
}

.state {
  cursor: pointer;
  width: 282px;
  height: 65px;
  border-radius: 10px;
  border: 1px solid #DAB49D;
  background: #FFFFFF;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: center;
  color: #5E3023;
}

.inputBlock {
  outline: none;
  cursor: text;
  box-sizing: border-box;
  padding-left: 14px;
  display: flex;
  align-items: center;
  margin-top: 26px;
  width: 508px;
  height: 50px;
  border-radius: 10px;
  border: 0.5px solid rgba(218, 180, 157, 1);
  background-color: #FFFFFF;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.1px;
  text-align: left;
  color: rgba(94, 48, 35, 1);
  transition: 0.3s all;
}

.inputBlock:hover {
  border: 0.5px solid rgba(218, 180, 157, 1);
}

.inputBlock:focus {
  border: 0.5px solid rgba(94, 48, 35, 1);
}