@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Основные стили для страницы */
.auth-page {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-shadow:
    0 4px 4px -1px rgba(12, 12, 13, 0.1),
    0 4px 4px -1px rgba(12, 12, 13, 0.05);
}

/* Контейнер для формы логина */
.auth-container {
  margin-top: 51px;
  margin-bottom: 31px;
  width: 433px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
/* Строка с "Вход" и "Регистрация" */
.auth-header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0; /* Убираем отступ снизу */
  background: transparent;
}

.auth-title-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем текст по горизонтали */
  justify-content: center; /* Центрируем текст по вертикали */
  height: 100%;
  width: 50%; /* Каждая колонка занимает половину ширины */
  position: relative; /* Устанавливаем для использования позиционирования линии */
}

.auth-title {
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  text-align: center; /* Центрируем текст в блоке */
  margin: 0; /* Убираем лишние отступы */
}

.auth-title a {
  text-decoration: none;
  color: #000000;
}

.auth-title.active {
  color: #000000; /* Цвет активного текста "Вход" */
}

/* Линия под "Вход" и "Регистрация" */
.sub-line {
  height: 4px; /* Толщина линии */
  width: 100%; /* Ширина линии */
  background-color: transparent; /* По умолчанию прозрачная */
  position: absolute; /* Абсолютное позиционирование */
  bottom: 0; /* Прижимаем к низу контейнера */
}

.auth-title-container.active .sub-line {
  background-color: #9c7c73; /* Цветная линия для активного состояния */
}

/* Главная линия под блоком */
.line {
  height: 1px;
  background-color: #9c7c73;
  margin-top: 0;
}
.input-container-login {
  margin-top: 79px;
}

.input-container-register {
  flex-direction: column;
  display: flex;
  margin-top: 24px;
  align-items: start;
}

/* Контейнер формы */
.auth-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
}

/* Стиль для группы ввода */
.input-group-login {
  height: 70px;
  width: 325px;
  text-align: left;
}

.input-group-login-2 {
  height: 87px;
  width: 325px;
  text-align: left;
  margin-top: 32px;

}

.input-group-register {
  height: 70px;
  width: 325px;
  text-align: left;

}

.input-group-register-2 {
  margin-top: 10px;
  height: 70px;
  width: 325px;
  text-align: left;
}

.password-wrapper-reg {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #DAB49D;
}

.password-wrapper-reg:focus-within {
  border-color: #895637; /* цвет рамки, когда фокус внутри контейнера */
}

/* Изменение фона и стилей для input при автозаполнении */
input:-webkit-autofill {
  background-color: #ffeb99 !important;  /* Желтый фон для input */
}

/* Изменение фона и стилей для всего контейнера при автозаполнении */
.password-wrapper-reg input:-webkit-autofill {
  background-color: #ffeb99 !important;  /* Желтый фон для input */
}

.password-wrapper-reg:-webkit-autofill {
  background-color: #ffeb99 !important; /* Желтый фон для всего div */
}

/* Изменение фона для кнопки при автозаполнении */
.password-wrapper-reg input:-webkit-autofill ~ .show-password-1 {
  background-color: #ffeb99 !important;  /* Желтый фон для кнопки */
}
.password-wrapper-reg input:-webkit-autofill ~ .show-password-2 {
  background-color: #ffeb99 !important;  /* Желтый фон для кнопки */
}

.input-group-register-3 {
  margin-top: 10px;
  height: 70px;
  width: 325px;
  text-align: left;
}

.input-group-login label {
  display: block;
  font-size: 16px;
  color: black;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  margin-bottom: 1px;
}

.input-group-login-2 label {
  display: block;
  font-size: 16px;
  color: black;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  margin-bottom: 1px;
}

.input-group-register label {
  display: block;
  font-size: 16px;
  color: black;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  margin-bottom: 1px;
}

.input-group-register-2 label {
  display: block;
  font-size: 16px;
  color: black;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  margin-bottom: 1px;
}

.input-group-register-3 label {
  display: block;
  font-size: 16px;
  color: black;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  margin-bottom: 1px;
}

.input-group-login input {
  box-sizing: border-box;
  padding-left: 7px;
  height: 50px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: #5e3023;
  border: 1px solid #DAB49D;
  background-color: white;
}
.input-group-login input:focus {
  outline: none;
  border-color: #895637;
}

.input-group-login-2 input {
  box-sizing: border-box;
  padding-left: 7px;
  height: 50px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: #5e3023;
  border: 1px solid #DAB49D;
  background-color: white;
}

.input-group-login-2 input:focus {
  outline: none;
  border-color: #895637;
}


.input-group-register input {
  box-sizing: border-box;
  padding-left: 7px;
  height: 50px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: #5e3023;
  border: 1px solid #DAB49D;
  background-color: white;
}

.input-group-register input:focus {
  outline: none;
  border-color: #895637;
}

.input-group-register-2 input {
  flex-grow: 1;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  padding-left: 7px;
  height: 50px;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: #5e3023;
  background-color: transparent;
}

.input-group-register-3 input {
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  padding-left: 7px;
  height: 50px;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: #5e3023;
  background-color: transparent;
}

.show-password-1 {
  background: none;
  border: none;
  border-radius: 0 10px 10px 0;
  width: 50px;
  height: 50px;
  margin-right: 0;
  cursor: pointer;
}

.show-password-2 {
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin-right: 0;
  cursor: pointer;
}

.form {
  width: 100%;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* Ссылка на забытый пароль */
.forgot-password {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-align: right;
}

.forgot-password a {
  font-size: 13px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.forgot-password a:hover {
  color: rgba(0, 0, 0, 0.71);
}

/* Кнопка "Войти" */
.login-btn {
  margin-top: 32px;
  margin-bottom: 25px;
  width: 325px;
  height: 50px;
  font-size: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: black;
  background-color: #eae0d6;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #dad2c9;
}
.login-btn:disabled {
  cursor: not-allowed; /* Изменяем курсор */
}

.reg-btn {
  margin-bottom: 25px;
  width: 325px;
  height: 50px;
  font-size: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: black;
  background-color: #eae0d6;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reg-btn:hover {
  background-color: #dad2c9;
}

.reg-btn:disabled {
  cursor: not-allowed; /* Изменяем курсор */
}

.reg-btn:disabled:hover {
  background-color: #eae0d6;
  cursor: not-allowed; /* Изменяем курсор */
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  position: relative;
  margin-bottom: 25px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #eae0d6; /* Цвет линии */
}

.divider span {
  box-sizing: border-box;
  padding-bottom: 3px;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: black;
  white-space: nowrap;
}

/* Стиль для кнопок входа через Google и Apple */
.social-login button {
  width: 360px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #e4e7e9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.social-login button p {
  margin: auto;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  color: #475156;
  background-color: transparent;
  text-align: center;
}
.social-login button img {
  position: absolute;
  margin-left: 16px;
  background: transparent;
  width: 20px;
  height: 20px;
}

.social-login button:hover {
  background-color: rgb(246, 246, 246);
}

/* Стиль для контейнера соцсетей (Google и Apple) */
.social-login button:first-of-type {
  margin-bottom: 10px;
}

.valid-error {

  text-align: left;
  top: 0;
  font-family: 'Barlow', monospace;
  font-size: 12px;
  color: #5E3023;
}