.profilePage {
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #eae0d6;
  margin: 0;
  box-shadow:
    0 4px 4px -1px rgba(12, 12, 13, 0.1),
    0 4px 4px -1px rgba(12, 12, 13, 0.05);
}

.container {
  width: 1854px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.headerContainer {
  border-radius: 10px 10px 0 0;
  width: 1854px;
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.headerInfoBlock {
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 20px;
  width: 1854px;
  height: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.headerTitle span {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #5e3023;
}

.headerInfoBlock button {
  cursor: pointer;
  border: none;
  outline: none;
  width: 322px;
  height: 50px;
  border-radius: 10px;
  background-color: #dab49d;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #5e3023;
}

.mainContainer {
  box-sizing: border-box;
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 86px;
  width: 1854px;
  height: 882px;
  border-radius: 0 0 10px 10px;
  background-color: #ffffff;
}

.settingsContainer {
  box-sizing: border-box;
  padding: 10px 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 547px;
  height: 822px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 #00000040;
  border: 1px solid #5e302380;
}

.settingsTitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: rgba(94, 48, 35, 1);
  margin-bottom: 10px;
}

.settingsDescription {
  white-space: pre-wrap;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.changeAvatarDesription {
  margin-top: -10px;
  white-space: pre-wrap;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.inputLockedBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.inputBlockTitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: rgba(94, 48, 35, 1);
}

.inputLocked {
  cursor: not-allowed;
  box-sizing: border-box;
  padding-left: 14px;
  display: flex;
  align-items: center;
  width: 507px;
  height: 50px;
  border-radius: 10px;
  border: 0.5px solid rgba(94, 48, 35, 1);
  background: rgba(94, 48, 35, 0.1);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.1px;
  text-align: left;
  color: rgba(94, 48, 35, 1);
}

.inputOn {
  outline: none;
  cursor: text;
  box-sizing: border-box;
  padding-left: 14px;
  display: flex;
  align-items: center;
  width: 507px;
  height: 50px;
  border-radius: 10px;
  border: 0.5px solid rgba(218, 180, 157, 1);
  background: white;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.1px;
  text-align: left;
  color: rgba(94, 48, 35, 1);
  transition: 0.3s all;
}

.inputOn:hover {
  border: 0.5px solid rgba(218, 180, 157, 1);
}

.inputOn:focus {
  border: 0.5px solid rgba(94, 48, 35, 1);
}

.inputBlockDescription {
  white-space: pre-wrap;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}

.saveBtn {
  margin-top: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 507px;
  height: 50px;
  border-radius: 10px;
  background: rgba(218, 180, 157, 1);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.saveBtn.saveAvatar {
  margin-top: 20px;
}

.saveChangePassword {
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 507px;
  height: 50px;
  border-radius: 10px;
  background: rgba(243, 233, 221, 1);

  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.otherSettingsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.changePasswordContainer {
  box-sizing: border-box;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 547px;
  height: 511px;
  border-radius: 10px;
  border: 1px solid #5e302380;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 #00000040;
}

.changePickPointContainer {
  box-sizing: border-box;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 547px;
  height: 286px;
  border-radius: 10px;
  border: 1px solid #5e302380;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.changePhotoContainer {
  box-sizing: border-box;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 547px;
  height: 343px;
  border-radius: 10px;
  border: 1px solid rgba(94, 48, 35, 0.5);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.avatarBlock {
  position: relative;

  margin-top: 8px;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

.imgAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textAvatar {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.changeAvatarLabel {
  top: -12px;
  right: 2px;
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.deleteButton {
  border: none;
  outline: none;
  top: 28px;
  right: -18px;
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.deleteButton.block {
  cursor: not-allowed;
}