@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.confirm-email-page {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-shadow:
    0 4px 4px -1px rgba(12, 12, 13, 0.1),
    0 4px 4px -1px rgba(12, 12, 13, 0.05);
}

.confirm-email-container {
  margin-top: 51px;
  margin-bottom: 31px;
  width: 433px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.confirm-email-header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; /* Убираем отступ снизу */
  background: transparent;
}

.confirm-email-header p {
  font-size: 16px;
  font-weight: 400;
  font-family: "IBM Plex Mono", monospace;
  color: black;
  text-align: center;
}

.line {
  height: 1px;
  background-color: #5E3023;
  margin-top: 0;
}

.confirm-email-body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.body-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  width: 301px;
  height: 100px;
  margin-bottom: 22px ;
}

.body-text-container p {
  font-size: 16px;
  font-weight: 400;
  font-family: "IBM Plex Mono", monospace;
  color: #777777;
  text-align: center;
}

.input-block {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 325px;
}

.input-block label {
  width: fit-content;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-align: left;
  margin-bottom: 1px;
}

.input-block input {
  box-sizing: border-box;
  padding-left: 14px;
  height: 50px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: #5e3023;
  border: 1px solid #DAB49D;
  background-color: white;
}

.input-block input:focus {
  outline: none;
  border-color: #895637;
}

.valid-block {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.send-code-again {
  text-decoration: none;
  top: 0;
  font-size: 13px;
  font-family: "IBM Plex Mono", monospace;
  color: black;
  font-weight: 400;
  text-align: right;
  transition: color 0.2s ease;
}

.valid-error {

  text-align: left;
  top: 0;
  font-family: 'Barlow', monospace;
  font-size: 12px;
  color: #5E3023;
}

.send-code-again:hover   {
  color: #9C7C73;
}

.confirm-btn {
  margin-top: 8px;
  margin-bottom: 90px;
  width: 325px;
  height: 50px;
  border: 1px solid #EAE0D6;
  border-radius: 10px;
  background: #EAE0D6;
  color: black;
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.confirm-btn:hover {
  background-color: #dad2c9;
}

.confirm-btn:disabled {
  cursor: not-allowed; /* Изменяем курсор */
}

.confirm-btn:disabled:hover {
  background-color: #eae0d6;
  cursor: not-allowed; /* Изменяем курсор */
}

.line-body {
  width: 360px;
  height: 1px;
  background-color: #EAE0D6;
  margin-top: 0;
  margin-bottom: 25px;
}

.faq-text {
  width: 363px;
  height: 80px;
  margin-bottom: 100px;
}

.faq-text p {
  line-height: 20px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  color: #475156;
  font-size: 14.6px;
  text-align: left;
}

.faq-text p a {
  text-decoration: none;
  color: #5E3023;
  font-size: 14.6px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  line-height: 20px;
  transition: color 0.2s ease;
}

.faq-text p a:hover {
  color: #9C7C73;
}