.feedbackPage {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #eae0d6;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 0 60px 0;
  box-shadow:
    0 4px 4px -1px rgba(12, 12, 13, 0.1),
    0 4px 4px -1px rgba(12, 12, 13, 0.05);
}

.mainContainer {
  width: 762px;
  height: 794px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 20px 20px 40px 20px;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 15px;
}

.mainHeader img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid rgba(243, 233, 221, 1);
}

.mainHeader p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: rgba(94, 48, 35, 1);
}

.ratingContainer {
  width: 722px;
  height: 73px;
  border-radius: 20px;
  background-color: rgba(243, 233, 221, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  margin-top: 15px;
  width: 722px;
  white-space: pre;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: rgba(94, 48, 35, 1);
}

.imageUploadBlock {
  width: 722px;
  height: 110px;
  border-radius: 20px;
  background-color: rgba(243, 233, 221, 1);
}

.uploadArea {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  box-sizing: border-box;
  padding-top: 15px;
}

.uploadArea p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}

.fileInput {
  display: none;
}

.previewArea {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 7px 10px 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
}

.loadImageBtn {
  cursor: pointer;
  border: none;
  outline: none;
  width: 75px;
  height: 90px;
  border-radius: 20px;
  background-color: rgba(218, 180, 157, 1);
}

.previewImages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
}

.previewImageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewImage {
  width: 75px;
  height: 90px;
  border-radius: 20px;
  border: 2px solid rgba(218, 180, 157, 1);
}

.deleteImageBtn {
  position: absolute;
  right: -1px;
  top: 0;
  cursor: pointer;
  border: none;
  outline: none;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: rgba(243, 233, 221, 1);
}

.inputBlock {
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 722px;
  height: 110px;
  border-radius: 10px;
  border: 0.5px solid rgba(94, 48, 35, 1);
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  padding: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgba(94, 48, 35, 1);
  resize: none; /* Убирает возможность изменения размера */
  overflow-wrap: break-word; /* Перенос слов */
  overflow: auto; /* Добавляет скролл, если текст превышает размер блока */
}

.anonBlock {
  box-sizing: border-box;
  padding: 21px 25px 20px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  width: 722px;
  height: 73px;
  border-radius: 20px;
  background-color: rgba(243, 233, 221, 1);
}

.anonBlock p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: rgba(94, 48, 35, 1);
}

.toggleBtn {
  outline: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 24px;
  border-radius: 12px;
  background-color: rgba(141, 141, 141, 1);
  transition: background-color 0.2s;
  position: relative;
}

.toggleBtn .thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  transform: translateX(0);
  transition: left 0.2s ease;
  position: absolute;
  left: 3px;
  top: 3px;
}

.toggleBtn.toggled {
  background-color: rgba(94, 48, 35, 1);
}

.toggleBtn.toggled .thumb {
  left: 19px;
}

.saveBtn {
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 15px;
  align-self: center;
  width: 323px;
  height: 68px;
  border-radius: 20px;
  background-color: rgba(218, 180, 157, 1);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  text-align: center;
  color: rgba(94, 48, 35, 1);
}
