/* Стили футера */
.footer {
  background-color: transparent; /* Цвет фона футера */
  color: #5E3023; /* Цвет текста */
  width: 100%;
  height: 180px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.footerContent {
  max-width: 1760px; /* Максимальная ширина футера */
  height: 100%;
  margin: 0 auto; /* Центрируем футер */
}

.dynamicIcon {
  width: 100%;
  height: 95px;
  margin-top: 0;
  margin-bottom: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dynamicIcon img {
  cursor: pointer;
  width: 100px;
  height: 95px;
}
.footerIcons {
  display: flex;
  justify-content: center;
  gap: 16px; /* Расстояние между иконками */
  margin-bottom: 32px; /* Отступ снизу для иконок */
  margin-top: 15px;
}

.footerIcons a img {
  width: 24px; /* Размер иконки */
  height: 24px;

}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 32px; /* Расстояние между текстовыми ссылками */
  margin-bottom: 32px;
}

.footerLink {
  color: #5E3023;
  text-decoration: none; /* Убираем подчеркивание */
  font-size: 14px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  transition: color 0.3s ease;
}

.footerLink:hover {
  color: rgba(94, 48, 35, 0.7); /* Изменение цвета при наведении */
}

.footerLine {
  border: 0;
  border-top: 1px solid #EAE0D6; /* Линия */
  margin-bottom: 25px;
}

.footerText {
  font-size: 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  color: #5E3023; /* Цвет текста */
  margin-bottom: 17px;
}

