@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.forgotPasswordPage {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-shadow:
    0 4px 4px -1px rgba(12, 12, 13, 0.1),
    0 4px 4px -1px rgba(12, 12, 13, 0.05);
}

.forgotPasswordForm {
  margin-top: 51px;
  margin-bottom: 31px;
  width: 433px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.forgotPasswordHeader {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  background: transparent;
}

.forgotPasswordHeader p {
  line-height: 21px;
  font-size: 16px;
  font-weight: 400;
  font-family: "IBM Plex Mono", monospace;
  color: black;
  text-align: center;
}

.line{
  height: 1px;
  background-color: #5E3023;
  margin-top: 0;
}

.forgotPasswordBody {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bodyTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  width: 301px;
  height: 100px;
  margin-bottom: 22px ;
}

.bodyTextContainer p {
  line-height: 21px;
  font-size: 16px;
  font-weight: 400;
  font-family: "IBM Plex Mono", monospace;
  color: #777777;
  text-align: center;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 325px;
}

.inputBlock label {
  line-height: 21px;
  width: fit-content;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-align: left;
  margin-bottom: 1px;
}

.inputBlock input {
  box-sizing: border-box;
  padding-left: 14px;
  height: 50px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: #5e3023;
  border: 1px solid #DAB49D;
  background-color: white;
}

.inputBlock input:focus {
  outline: none;
  border-color: #895637;
}

.validationBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}


.validationError {
  text-align: left;
  top: 0;
  font-family: 'Barlow', monospace;
  font-size: 12px;
  color: #5E3023;
}

.confirmBtn {
  margin-top: 25px;
  margin-bottom: 17px;
  width: 325px;
  height: 50px;
  border: 1px solid #EAE0D6;
  border-radius: 10px;
  background: #EAE0D6;
  color: black;
  font-family: "IBM Plex Mono", monospace;
  line-height: 26px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  transition: border,background-color 0.3s linear;
  cursor: pointer;
}

.confirmBtn:hover {
  border: 3px solid #987B72;
}

.confirmBtn:focus {
  background-color: #6C4235B2;
}

.confirmBtn:disabled {
  cursor: not-allowed; /* Изменяем курсор */
}

.confirmBtn:disabled:hover {
  background-color: #eae0d6;
  cursor: not-allowed; /* Изменяем курсор */
}

.linkContainer {
  display: flex;
  flex-direction: column;
  width: 325px;
  gap: 8px;
  margin-bottom: 25px;
}

.linkContainerInfo {
  margin-left: 1px;
  text-align: left;
  font-size: 14px;
  font-family: "Public Sans Mono", sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: #5F6C72;
}

.linkTeg {
  text-decoration: none;
  color: #5E3023;
  font-weight: 500;
  font-size: 14px;
  font-family: "Public Sans Mono", sans-serif;
  line-height: 20px;
  transition: color 0.2s ease;
}

.linkTeg:hover {
  color: #9C7C73;
}

.lineBody {
  width: 360px;
  height: 1px;
  background-color: #EAE0D6;
  margin-top: 0;
  margin-bottom: 25px;
}

.faqText {
  width: 363px;
  height: 80px;
  margin-bottom: 100px;
}

.faqText p {
  line-height: 20px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  color: #475156;
  font-size: 14.6px;
  text-align: left;
}


.faqTextLink {
  text-decoration: none;
  color: #5E3023;
  font-size: 14.6px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  line-height: 20px;
  transition: color 0.2s ease;
}

.faqTextLink:hover {
  color: #9C7C73;
}