@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
  margin: 0;
  padding: 0;
}
html,body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column; /* Строки идут сверху вниз */
  min-height: 100%; /* Обеспечиваем, что wrapper занимает всю высоту */
}

body {
  background-color: #FFFFFF;
  color: #000;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
}