header {
  width: 100%;
}

.navbarTop{
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  background-color: #EAE0D6;
  display: flex;
  justify-content: flex-end;
}

.navbarTopRight {
  display: flex;
  justify-items: center;
  align-items: center;
}

.announcementText {
  font-family: 'IBM Plex Mono', monospace; /* Используем шрифт IBM Plex Mono */
  font-weight: 400; /* Вес шрифта */
  margin-right: 70px;
  font-size: 16px; /* Размер шрифта */
  color: #5E3030; /* Цвет текста */
  text-decoration: none; /* Убираем подчеркивание */
}
.navbarBottom {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  margin-left: 33px;
  margin-top: 0;
  height: 100%;
}
.searchBox {
  margin-left: 33px;
  width: 1251px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  border: 1px solid #DAB49D;
  border-radius: 20px;
  transition: border-color 0.2s ease-in-out;
}

.searchBoxNotLogin {
  margin-left: 33px;
  width: 830px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  border: 1px solid #DAB49D;
  border-radius: 20px;
  transition: border-color 0.2s ease-in-out;
}

.searchBox:focus-within {
  border-color: #5E3023; /* цвет рамки, когда фокус внутри контейнера */
}

.searchBoxNotLogin:focus-within {
  border-color: #5E3023; /* цвет рамки, когда фокус внутри контейнера */
}

.searchBox input {
  margin-left: 28px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #5E3023;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  width: 1000px;
  transition: color 0.2s ease-in-out;
}

.searchBoxNotLogin input {
  margin-left: 28px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #5E3023;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  width: 700px;
  transition: color 0.2s ease-in-out;
}

.searchBox input::placeholder {
  color: #5E3023;
  transition: color 0.2s ease-in-out;
}

.searchBoxNotLogin input::placeholder {
  color: #5E3023;
  transition: color 0.2s ease-in-out;
}

.searchBox input:focus::placeholder {
  color: #cfc1bd;
}

.searchBoxNotLogin input:focus::placeholder {
  color: #cfc1bd;
}

.searchBox button {
  height: 48px;
  width: 48px;
  margin-right: 12px;
  border: none;
}

.searchBoxNotLogin button {
  height: 48px;
  width: 48px;
  margin-right: 12px; /*ТУТ*/
  border: none;
}

.searchBox img {
  cursor: pointer;
}

.searchBoxNotLogin img {
  cursor: pointer;
}

.buttonContainer {
  gap: 20px;
  margin-left: 47px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navLogBtn {
  cursor: pointer;
  border: 1px solid #DAB49D;
  border-radius: 10px;
  background-color: #FFFFFF;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #5E3023;
  width: 190px;
  height: 55px;
}

.navRegBtn {
  cursor: pointer;
  border: 1px solid #DAB49D;
  border-radius: 10px;
  background-color: #DAB49D;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #5E3023;
  width: 190px;
  height: 55px;
}

.icons {
  display: flex;
  gap: 20px; /* Отступы между элементами */
  margin-left: 46px;
  margin-right: 70px;

}

.iconsNotLogin {
  display: flex;
  gap: 20px; /* Отступы между элементами */
  margin-right: 70px;
}

.icons button {
  cursor: pointer;
  border: none;
  width: 48px;
  height: 48px;
}

.iconsNotLogin button {
  cursor: pointer;
  border: none;
  width: 48px;
  height: 48px;
}



