.productPage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0 0 63px 0;
  box-shadow:
    0 4px 4px -1px rgba(12, 12, 13, 0.1),
    0 4px 4px -1px rgba(12, 12, 13, 0.05);
}

.headerBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.titleBlock {
  align-self: start;
  margin-left: 52.66px;
  margin-top: 54.39px;
  margin-bottom: 54.4px;
  gap: 27.67px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.shareContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-right: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.articuleBlock {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.articuleBlock p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #5e3023;
}

.shareBlock {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 155px;
  height: 36px;
  border-radius: 5px;
  background-color: #eae0d6;
}

.arrowBtn {
  width: 27.66px;
  height: 24.21px;
}

.title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 28px;
  line-height: 36.4px;
  color: #5e3023;
}

.productContainer {
  width: 1903px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 33px;
}

.pictureContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.pictureBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.productPictureMini {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 2px;
  width: 161px;
  height: 203px;
  background-color: #eae0d6;
  border-radius: 10px;
}

.productPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #eae0d6;
  padding: 2px;
  width: 640px;
  height: 857px;
  background-color: white;
  border-radius: 10px;
}

.productPicture img{
  width: 638px;
  height: 638px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 29px;
  padding-top: 29px;
  padding-bottom: 22px;
}

.nameProduct {
  font-family: "IBM Plex Mono", monospace;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  letter-spacing: 0.03em;
  margin-bottom: 29px;
}

.ratingBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 44px;
  margin-bottom: 5px;
}

.ratingBlock img {
  margin-left: 0;
  margin-right: 0;
}

.ratingText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 44px;
  width: 42px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  align-self: center;
  text-align: center;
  color: #5e3023;
  margin-right: 10px;
}

.cntFeedbackText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: 44px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #808080;
  margin-left: 0;
  margin-right: 25px;
}

.line {
  border-left: 1px solid #808080; /* Вертикальная линия */
  height: 34px; /* Высота линии */
  margin-right: 25px;
}

.cntProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: 44px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #5e3023;
}

.property {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.propertyKey {
  color: #ae9798;
}

.propertyValue {
  color: black;
}

.colorBlock {
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.colorElem {
  border-radius: 10px;
  background-color: #eae0d6;
  width: 80px;
  height: 101px;
}

.descriptionTitle {
  margin-bottom: 15px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #5e3023;
}

.propertyContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.allProperty {
  text-decoration: none;
  margin-top: 71px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #000000;
}

.orderContainer {
  margin-left: 98px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  align-items: flex-start;
  width: 470px;
  height: 499px;
  border-radius: 10px;
  border-top: 1px solid #eae0d6;
  box-shadow: 0 4px 4px 0 #00000040;
}

.price {
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 37px;
}

.priceText {
  font-family: "IBM Plex Mono", monospace;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: left;
  color: #5e3023;
}

.originalPrice {
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-decoration-line: line-through;
  color: #5e303280;
}

.priceDynamicTitle {
  font-family: "IBM PLEx Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #5e303280;
}

.priceDynamicBox {
  margin-top: 10px;
  border: 1px solid #eae0d6;
  border-radius: 10px;
  width: 410px;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.priceDynamicText {
  margin-left: 31px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.priceDynamicText img {
  rotate: -180deg;
}

.priceDynamicText p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: left;
  color: #5e3023;
}

.showAllDynamic {
  cursor: pointer;
  margin-right: 22.12px;
}

.addToCart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 410px;
  height: 73px;
  border-radius: 10px;
  border: 1px solid #f3e9dd;
  margin-bottom: 15px;
}

.addToCartButton {
  cursor: pointer;
  width: 337px;
  height: 73px;
  border-radius: 10px 0 0 10px;
  outline: none;
  border: none;
  background: #6c4235;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: center;
  color: #ffffff;
}

.addToWishlistButton {
  width: 73px;
  height: 73px;
  border-radius: 0 10px 10px 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f3e9dd;
  border-top: 1px solid #f3e9dd;
  border-right: 1px solid #f3e9dd;
}

.buyNowBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 410px;
  height: 73px;
  border-radius: 10px;
  background: #EAE0D6;
  border: none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: center;
  color: #5E3023;
}

.deliveryTime {
  margin-top: 10px;
  align-self: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.deliveryTimeKey {
  color: #ae9798;
}

.deliveryTimeValue {
  color: #5e3023;
}

.brandRating {
  margin-top: 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.brandRating p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #5E3023;
}

.productBlock {
  margin-top: 30px;
  width: 1810px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  justify-content: center;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 23px;
}

.titleContainer p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #5E3023;
}