@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.checkboxWrapper {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
}
.checkboxElement {
  margin-left: 3px;
  appearance: none;
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: 2px;
  width: 15px;
  height: 15px;
  border: 2px solid #9C7C73;

}

.checkboxElement:checked {
  background-color: #9C7C73;
}

.checkboxElement:checked:before {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  right: 3px;
  width: 2px;
  height: 6px;
  bottom: 2px;
  border: 2px solid transparent;
  border-bottom-color: white;
  border-right-color: white;
  transform-origin: 50% 50% ;
  transform: rotate(35deg);
}

.checkboxWrapper p {
  font-weight: 400;
  margin-left: 28px;
  font-family: 'Barlow', sans-serif ;
  line-height: 15px;
  text-align: left;
  width: 255px;
  font-size: 12px;
}
.checkboxWrapper a {
  text-decoration: none;
  color: #9C7C73;
  cursor: pointer;
  font-weight: 400;
  font-family: 'Barlow', sans-serif ;
  line-height: 15px;
  font-size: 12px;
}

.linkRules {
  text-decoration: none;
  color: #9C7C73;
  cursor: pointer;
  font-weight: 400;
  font-family: 'Barlow', sans-serif ;
  line-height: 15px;
  font-size: 12px;
}